/* ------------------------ */
/* Testing  Base Layout Containers */
/* ------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
section,
.your-wrapper-class {
  margin: 0;
  padding: 0;
  border: none;
}
h2 {
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}
.base-wrapper {
  position: relative;
  box-sizing: border-box;
  /* height: 5415.09px; */
  width: 100%; /* or 100% */
  max-width: 100%;
  font-family: "Google Sans Code", sans-serif;
}
.section-top-banner {
  box-sizing: border-box;
  display: block;
  height: 368px; /* from .md:swdc-h-[368px] */ /* from computed styles */
  padding-bottom: 64px; /* from .swdc-pb-8 (var(--swdc-spacer-8)) */
  padding-left: 64px; /* from .swdc-px-[var(--swdc-gutter-page)] */
  padding-right: 64px; /* from .swdc-px-[var(--swdc-gutter-page)] */
  font-family: "Google Sans Code", sans-serif;
  /* font-size: 16px; */
  line-height: 1.65;
  tab-size: 4;
  text-size-adjust: 100%;
  background-image: linear-gradient(to bottom, #107cca, #022966 100%);
  width: 100%; /* or 100% */
  max-width: 100%;
  overflow-x: hidden;
}
.section-surface-1 {
  box-sizing: border-box;
  display: block;
  /* height: 5045.1px; */
  padding-left: 64px;
  padding-right: 64px;
  width: 100%; /* or 100% */
  max-width: 100%;
  text-size-adjust: 100%;
  font-family: "Google Sans Code", sans-serif;
  font-feature-settings: normal;
  /* font-size: 16px; */
  font-variation-settings: normal;
  line-height: 26.4px;
  tab-size: 4;
  background-color: rgb(221, 225, 232);
}

/* ------------------------ */
/* Main Content Containers */
/* ------------------------ */
.home-container {
  width: 960px;
  margin: 0 auto;
}

.notif-container {
  /* position: fixed; */
  /* remove this to place elsewhere on page */

  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(234, 237, 241, 0.89);
  padding: 16px 16px 16px 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
  z-index: 1000;
}

.noti-title {
  background-image: linear-gradient(to bottom, #d3d3d3, #e0e4ec 100%);
  font-weight: bold;
  margin-bottom: 8px;
  height: 150px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  justify-content: center;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.notif-card {
  background-color: #fff;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tablestyles {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0rem;
  border-radius: 0.25rem;
  text-indent: 0;
  border-color: inherit;
  box-sizing: inherit;
}

.theadstyles {
  background-color: rgb(221 225 232);
  top: 106px;
  display: table-header-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

.trheadstyles {
  border-radius: 0.125rem;
  border-width: 1px;
  border-bottom-width: 2px;
  border-style: solid;
  border-color: rgb(221 225 232);
}

.thheadstyles {
  border-radius: 0.375rem;
  border-width: 2px;
  border-color: #dde1e8;
  padding: var(--swdc-spacer-1);
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: white;
  /* font-size: 12px; */
  line-height: 1.33;
  letter-spacing: 0px;
  box-sizing: border-box;
  border-style: solid;
}

.trbodystyles {
  background-color: white;
}
.tdbodyleftstyles {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-right-color: rgb(221 225 232);
  border-top-color: rgb(221 225 232);
  border-bottom-color: rgb(221 225 232);
  border-left-color: #dde1e8;
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  border-style: solid;
}

.alert-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f44336;
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.alert-btn-txt {
  margin-left: 12px;
  background: white;
  color: #f44336;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}
.tdcontentwrapper {
  min-height: 52px;
  padding: 8px;
  font-weight: 400;
  box-sizing: border-box;
  /* font-size: 12px; */
}

.tdcontentspan {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 400;
  text-align: center;
  box-sizing: border-box;
  /* font-size: 12px; */
}

@media (min-width: 768px) {
  .tdcontentspan {
    height: 38px;
  }
}

.home-grid {
  width: 100% !important;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  background-image: linear-gradient(to bottom, #d3d3d3, #e0e4ec 100%);
  margin-top: 6.4rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-grid {
  grid-template-columns: 1fr 1fr;
  row-gap: 8px;
  column-gap: 8px;
  display: grid;
  justify-items: center;
}

.button-grid.three-btn {
  grid-template-columns: 1fr 1fr 1fr;
}

/* ------------------------ */
/* Main Content  */
/* ------------------------ */

.home-title {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-bottom: 1.5rem;
  text-align: center;
}

.action-button {
  background-color: #ffffff;
  border: 2px solid #d1d5db;
  border-radius: 3px;
  padding: 1.5rem;
  text-align: center;
  font-weight: 500;
  color: rgb(70, 69, 69);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  font-size: 0.8rem;
  font-weight: bold;
}

.action-button:hover {
  background-color: #e5f0ff;
  border-color: rgba(57, 144, 216, 0.699);
  transform: translateY(-2px);
}

.button-with-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-label {
  margin-top: 0.2rem;
  font-size: 0.85rem;
  color: rgba(172, 171, 171, 0.563);
  font-weight: 600;
  font-style: oblique;
  text-align: center;
  max-width: 200px;
}

/* ------------------------ */
/* Results Styles */
/* ------------------------ */
.results-flex {
  background-image: linear-gradient(to bottom, #022966, #107cca 100%);
  display: flex;
  margin-top: 0.6rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}
.results-text {
  width: 100%;
  color: rgb(224, 226, 226);
  display: flex;
  justify-content: center;
}

.results-text ul {
  text-align: center;
  padding-inline-start: 0rem;
  margin-block-end: 0.2rem;
  margin-block-start: 0.5rem;
}

li {
  list-style-type: none;
}

li:not(:last-child) {
  list-style-type: none;
  margin-bottom: 0.3rem;
}
