body {
  font-family: "Inter", sans-serif;
  background-color: rgba(234, 237, 241, 0.89);
}

/* ------------------------ */
/* Main Content Containers */
/* ------------------------ */
.home-container {
  width: 960px;
  margin: 0 auto;
}

.tablestyles {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0rem;
  border-radius: 0.25rem;
  text-indent: 0;
  border-color: inherit;
  box-sizing: inherit;
}

.theadstyles {
  /* position: sticky;  */
  /* z-index: 10;  */
  background-color: rgb(221 225 232);
  top: 106px; /* inline style */
  display: table-header-group; /* default thead style */
  vertical-align: middle; /* default thead style */
  unicode-bidi: isolate; /* default thead style */
  border-color: inherit; /* default thead style */
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

.trheadstyles {
  border-radius: 0.125rem; /* swdc-rounded-sm */
  border-width: 1px; /* swdc-border */
  border-bottom-width: 2px; /* swdc-border-b-[2px] */
  border-style: solid; /* swdc-border-solid */
  border-color: rgb(221 225 232); /* swdc-border-surface-1 */
}

.thheadstyles {
  border-radius: 0.375rem; /* swdc-rounded-md */
  border-width: 2px; /* swdc-border-[2px] */
  border-color: #dde1e8; /* swdc-border-[#dde1e8] */
  padding: var(--swdc-spacer-1); /* swdc-p-1 */
  padding-top: 2px; /* swdc-py-[2px] */
  padding-bottom: 2px; /* swdc-py-[2px] */
  background-color: white; /* swdc-bg-white */ /* swdc-typeset-ui-5b */
  font-size: 12px; /* swdc-typeset-ui-5b */
  line-height: 1.33; /* swdc-typeset-ui-5b */
  letter-spacing: 0px; /* swdc-typeset-ui-5b */
  box-sizing: border-box; /* universal box-sizing */
  border-style: solid; /* default border style */
}

.trbodystyles {
  background-color: white;
}
.tdbodyleftstyles {
  border-top-left-radius: 0.375rem; /* swdc-rounded-tl-md */
  border-bottom-left-radius: 0.375rem; /* swdc-rounded-bl-md */
  border-top-width: 2px; /* swdc-border-y-[2px] */
  border-bottom-width: 2px; /* swdc-border-y-[2px] */
  border-left-width: 2px; /* swdc-border-l-[2px] */
  border-right-color: rgb(221 225 232);
  border-top-color: rgb(221 225 232); /* swdc-border-y-surface-pro-1 */
  border-bottom-color: rgb(221 225 232); /* swdc-border-y-surface-pro-1 */
  border-left-color: #dde1e8; /* swdc-border-l-[#dde1e8] */
  background-color: white; /* swdc-bg-white */
  text-align: center; /* swdc-text-center */
  box-sizing: border-box; /* universal box-sizing */
  border-style: solid; /* default border style */
}

.tdcontentwrapper {
  min-height: 52px; /* swdc-min-h-[52px] */
  padding: 8px; /* swdc-p-1 (typically 8px) */
  font-weight: 400; /* swdc-font-[--swdc-text-weight-regular] */
  box-sizing: border-box; /* universal box-sizing */
  font-size: 12px; /* md:swdc-text-[12px] */
}

.tdcontentspan {
  position: relative; /* swdc-relative */
  display: inline-flex; /* swdc-inline-flex */
  align-items: center; /* swdc-items-center */
  justify-content: center; /* swdc-justify-center */
  padding-left: 5px; /* swdc-px-[5px] */
  padding-right: 5px; /* swdc-px-[5px] */
  padding-top: 0; /* swdc-py-0 */
  padding-bottom: 0; /* swdc-py-0 */
  font-weight: 400; /* swdc-font-[--swdc-text-weight-regular] */
  text-align: center; /* swdc-text-center */
  box-sizing: border-box; /* universal box-sizing */
  font-size: 12px; /* default font size */
}

/* Optional media query for medium screens */
@media (min-width: 768px) {
  .tdcontentspan {
    height: 38px; /* md:swdc-h-[38px] */
  }
}

.home-grid {
  width: 100% !important;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  background-image: linear-gradient(to bottom, #107cca, #022966 100%);
  margin-top: 6.4rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-grid {
  grid-template-columns: 1fr 1fr;
  row-gap: 8px;
  column-gap: 8px;
  display: grid;
  justify-items: center;
}

.button-grid.three-btn {
  grid-template-columns: 1fr 1fr 1fr;
}

/* ------------------------ */
/* Main Content  */
/* ------------------------ */
.home-title {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(224, 226, 226);
  margin-bottom: 1.5rem;
  text-align: center;
}
.action-button {
  background-color: #ffffff;
  border: 2px solid #d1d5db;
  border-radius: 3px;
  padding: 1.5rem;
  text-align: center;
  font-weight: 500;
  color: rgb(70, 69, 69);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  font-size: 0.8rem;
  font-weight: bold;
}

.action-button:hover {
  background-color: #e5f0ff;
  border-color: rgba(57, 144, 216, 0.699);
  transform: translateY(-2px);
}

.button-with-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-label {
  margin-top: 0.2rem;
  font-size: 0.85rem;
  color: rgba(172, 171, 171, 0.563);
  font-weight: 600;
  font-style: oblique;
  text-align: center;
  max-width: 200px;
}

/* ------------------------ */
/* Results Styles */
/* ------------------------ */
.results-flex {
  background-image: linear-gradient(to bottom, #022966, #107cca 100%);
  display: flex;
  margin-top: 0.6rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}
.results-text {
  width: 100%;
  color: rgb(224, 226, 226);
  display: flex;
  justify-content: center;
}

.results-text ul {
  text-align: center;
  padding-inline-start: 0rem;
  margin-block-end: 0.2rem;
  margin-block-start: 0.5rem;
}

li {
  list-style-type: none;
}

li:not(:last-child) {
  list-style-type: none;
  margin-bottom: 0.3rem;
}
